NODE_ENV=development
PORT=3000

# e.g. for React frontend running on localhost:5173
CORS_ORIGIN=http://localhost:5173

# PostgreSQL Database Configuration
DATABASE_URL=

# JWT Configuration
JWT_SECRET=secret-key
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d